@mixin reg {
  font-family: 'HelveticaNeueCyr', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

@mixin italic {
  font-family: 'HelveticaNeueCyr', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin default {
  @include reg;
  color: var(--main);
  font-size: vw(16);
  line-height: 100%;
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: size(16, 14);
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

@mixin h1 {
  @include reg;
  color: var(--main);
  font-size: vw(100);
  line-height: 100%;
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: size(100, 42);
  }

  @media (max-width: $br4) {
    font-size: 42px;
  }
}
