:root {
  --black: #212022;
  --white: #ffffff;
  --gray: #f2f2f2;
  --red: #e73737;
  --accent: #4e706a;
  --bg: #ececec;
  --main: #304e49;
}

//screen config
$maxWidth: 1920;
$minWidth: 375;

//breakpoints
$uls: 2100px;
$ls: 1366px;
$br1: 1060px;
$br2: 960px;
$br3: 768px;
$br4: 460px;

//easings
$easing: cubic-bezier(0.33, 1, 0.68, 1);

// layouts
$g-offset: vw(75);
$g-sm: 32px;
$g-s: 20px;
