.products-2__title {
  @include default;
  font-size: vw(100);
  line-height: 110%;

  @media (max-width: $br1) {
    font-size: size(100, 35);
  }

  @media (max-width: $br4) {
    font-size: 35px;
  }
}

.products-2__italic-title {
  @media (min-width: $br1) {
    @include italic;
  }
}

.products-2__desc {
  @include reg;
  text-transform: none;
  max-width: vw(698);
  font-size: vw(24);
  line-height: 120%;
  margin-top: vw(40);

  @media (max-width: $br1) {
    margin-top: 26px;
    max-width: 80%;
    font-size: size(24, 16);
  }

  @media (max-width: $br4) {
    max-width: 100%;
    font-size: 16px;
  }
}

.products-2__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: vw(24);
  margin-top: vw(66);

  @media (max-width: $br1) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 42px;
    gap: 26px;
  }

  @media (max-width: $br2) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.products-2__floating-cards {
  img {
    display: block;
    max-width: 100%;

    @media (min-width: $br1) {
      height: vw(64);
    }

    @media (max-width: $br1) {
      height: 44px;
    }

    @media (max-width: $br4) {
      height: 36px;
    }
  }
}

.products-2__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: vw(15);
  @include default;
  color: var(--bg);
  padding-left: vw(30);
  padding-right: vw(30);

  @media (max-width: $br1) {
    gap: 10px;
  }
}

.products-2__title-cards {
  line-height: 100%;
  font-weight: 400;
  font-size: vw(40);

  @media (max-width: $br1) {
    font-size: size(40, 20);
  }

  @media (max-width: $br4) {
    font-size: 20px;
  }
}

.products-2__medium-text {
  line-height: 150%;
  font-size: vw(24);
  text-transform: none;
  max-width: vw(320);

  @media (max-width: $br1) {
    max-width: 100%;
    font-size: size(24, 16);
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }
}

.products-2__small-text {
  line-height: 150%;
  text-transform: none;
}
