.products-2__title {
  @include default;
  @include col(1, 15);
  font-size: vw(200);

  @media (max-width: $br1) {
    display: inline;
    font-size: size(200, 36);
    @include col(1, 4);
  }

  @media (max-width: $br4) {
    font-size: 36px;
  }
}

.products-2__big-text {
  &:nth-of-type(1) {
    @media (min-width: $br1) {
      @include col(1, 15);
    }
  }

  &:nth-of-type(2) {
    @media (min-width: $br1) {
      @include col(2, 3);
      @include row(2, 2);
    }
  }

  &:nth-of-type(3) {
    @media (min-width: $br1) {
      @include col(9, 15);
      @include row(2, 2);
      @include italic;
      text-transform: lowercase;
      text-align: end;
    }
  }
}

.products-2__desc {
  @include default;
  text-transform: none;

  @media (min-width: $br1) {
    @include col(7, 10);
    @include row(2, 2);
    margin-top: vw(50);
  }

  @media (max-width: $br1) {
    margin-top: 15px;
    @include col(1, 4);
    @include row(2, 2);
    max-width: 70%;
  }

  @media (max-width: $br3) {
    max-width: 100%;
  }
}

.products-2__floating-cards {
  @include col(1, 15);
  @include row(3, 3);
  margin-top: vw(112);

  @media (max-width: $br1) {
    @include col(1, 4);
    @include row(3, 3);
    margin-top: 42px;
  }
}

.products-2__wrapper {
  @media (max-width: $br1) {
    display: block;
  }
}

.products-2__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: vw(15);
  @include default;
  color: var(--bg);

  @media (max-width: $br1) {
    gap: 10px;
  }
}

.products-2__title-cards {
  line-height: 100%;
  font-weight: 400;
  font-size: vw(40);

  @media (max-width: $br1) {
    font-size: size(40, 20);
  }

  @media (max-width: $br4) {
    font-size: 20px;
  }
}

.products-2__medium-text {
  line-height: 150%;
  font-size: vw(24);
  text-transform: none;

  @media (max-width: $br1) {
    font-size: size(24, 16);
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }
}

.products-2__small-text {
  line-height: 150%;
  text-transform: none;
}
