.products-1 {
  position: relative;
  min-height: 100vh;
  height: 100vh;

  @media (max-width: $br1) {
    padding-top: 0;
  }
}

.products-1__wrapper {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  min-height: 100%;
}

.products-1__image-block {
  position: absolute;
  z-index: -1;
  padding-top: vh(200);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  grid-template-rows: repeat(2, 1fr);
  @media (max-width: $br1) {
    padding-top: 120px;
  }
}

.products-1__img-wrapper {
  &:nth-of-type(1) {
    @include col(2, 3);
    @include row(1, 2);
    @media (max-width: $br1) {
      @include col(1, 1);
    }
  }
  &:nth-of-type(2) {
    @include col(12, 14);
    @include row(1, 2);
    @media (max-width: $br1) {
      @include col(4, 4);
      width: 100%;
      justify-self: end;
    }
  }
  &:nth-of-type(3) {
    @include col(1, 3);
    @include row(2, 3);
    align-self: end;

    @media (max-width: $br1) {
      @include col(1, 2);
      width: 80%;
      margin-bottom: 15vh;
    }
  }
  &:nth-of-type(4) {
    @include col(13, 15);
    @include row(2, 3);
    align-self: end;
    justify-self: end;
    width: 100%;

    @media (max-width: $br1) {
      @include col(4, 4);
      margin-bottom: 20px;
    }
  }
}

.products-1__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  @media (min-width: $br1) {
    transform: translate(-50%, -50%);
  }

  @media (max-width: $br1) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: $br3) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.products-1__title {
  display: flex;
  flex-direction: column;
  @include default;
  font-size: vw(120);
  line-height: 110%;

  @media (min-width: $br1) {
    align-items: flex-start;
  }

  @media (max-width: $br1) {
    font-size: size(120, 36);
  }

  @media (max-width: $br1) {
    font-size: 36px;
  }
}

.products-1__span-title {
  &:nth-of-type(2) {
    @media (min-width: $br1) {
      @include italic;
      text-transform: lowercase;
      margin-left: vw(230);
    }
  }

  &:nth-of-type(3) {
    @media (min-width: $br1) {
      @include italic;
      margin-left: vw(100);
    }
  }
}

.products-1__desc {
  @include default;
  text-align: center;

  @media (min-width: $br1) {
    max-width: vw(320);
    margin-top: vw(30);
  }

  @media (max-width: $br1) {
    margin-top: 15px;
  }
}

.products-1__btn {
  align-self: center;
  margin-top: auto;
  max-width: fit-content;
  margin-bottom: vw(20);
  position: relative;

  @media (max-width: $br1) {
    margin-bottom: 20px;
  }
}
