.products-3__commentary {
  @include default;
  text-transform: none;
  font-size: vw(14);
  margin-bottom: vw(26);

  @media (max-width: $br1) {
    font-size: size(14, 12);
    margin-bottom: 10px;
  }

  @media (max-width: $br4) {
    font-size: 12px;
  }
}

.products-3__line {
  background-color: var(--main);
  width: 100%;
  height: 2px;
}

.products-3__ticker {
  margin-top: vw(40);

  @media (max-width: $br1) {
    margin-top: 15px;
  }
}

.products-3__content {
  margin-top: vw(40);

  @media (max-width: $br1) {
    margin-top: 40px;
  }
}

.products-3__list {
  &:hover {
    .products-3__text-wrapper {
      opacity: 0.5;
    }
  }
  @media (min-width: $br1) {
    @include col(1, 9);
    align-self: end;
  }

  @media (max-width: $br1) {
    @include col(1, 4);
    @include row(2, 2);
    margin-top: 30px;
  }
}

.products-3__li {
  cursor: pointer;

  &:hover {
    .products-3__text-wrapper {
      opacity: 1;
    }
  }
}

.products-3__text-wrapper {
  @media (min-width: $br1) {
    display: flex;
    transition: opacity 0.4s ease;
    justify-content: space-between;
    align-items: center;
    margin-top: vw(30);
    margin-bottom: vw(30);
  }
}

.products-3__number {
  @include default;
  font-size: vw(20);

  @media (max-width: $br1) {
    font-size: size(20, 16);
    margin-top: 20px;
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }
}

.products-3__text {
  @include default;
  text-transform: none;
  font-size: vw(20);

  @media (max-width: $br1) {
    font-size: size(20, 16);
    margin-top: 12px;
    margin-bottom: 22px;
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }
}

.products-3__image-wrapper {
  @media (min-width: $br1) {
    @include col(10, 15);
  }

  @media (max-width: $br1) {
    @include col(1, 4);
    margin-top: 40px;
  }
}

.products-3__image-wrapper {
  position: relative;
  padding-bottom: toimg(694, 867);
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
}

.products-3__img {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  &:not(.products-3__img--main) {
    opacity: 0;
  }
  transition: opacity 0.4s ease;
  &.active {
    opacity: 1;
    z-index: 3;
  }
}
