.news-1 {
  padding-top: 0;
}

.news-1__wrapper {
  height: 50vh;
  padding-top: 20vh;
  text-align: center;
}

.news-1__title {
  @include default;
  display: flex;
  flex-direction: column;
  font-size: vw(120);

  @media (max-width: $br1) {
    font-size: size(120, 36);
  }

  @media (max-width: $br4) {
    font-size: 36px;
  }
}
