.home-7__main-block {
  @media (min-width: $br1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.home-7__title {
  @include default;
  font-size: vw(200);
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $br1) {
    font-size: size(200, 35);
  }

  @media (max-width: $br4) {
    font-size: 35px;
  }
}

.home-7__span-title {
  &:nth-of-type(1) {
    @media (min-width: $br1) {
      @include italic;
    }
  }
}

.home-7__desc {
  @include reg;
  font-size: vw(20);
  max-width: vw(577);
  margin-top: vw(40);
  text-align: center;

  @media (max-width: $br1) {
    font-size: size(20, 14);
    max-width: 60%;
    margin: 0 auto;
    margin-top: 15px;
  }

  @media (max-width: $br3) {
    max-width: 80%;
  }

  @media (max-width: $br4) {
    font-size: 14px;
    max-width: 100%;
  }
}

.home-7__btn {
  margin-top: vw(40);

  @media (max-width: $br1) {
    margin: 0 auto;
    margin-top: 16px;
  }
}
