.home-5__line {
  height: 2px;
  width: 100%;
  background-color: var(--main);
}

.home-5__main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: vw(70) 0;

  @media (max-width: $br1) {
    margin: 30px 0;
  }
}

.home-5__title {
  @include default;
  max-width: vw(1355);
  font-size: vw(70);

  @media (max-width: $br1) {
    max-width: 80%;
    font-size: size(70, 30);
  }

  @media (max-width: $br4) {
    max-width: 100%;
    font-size: 30px;
  }
}

.home-5__desc {
  @include default;
  max-width: vw(780);
  margin-top: vw(40);

  @media (max-width: $br1) {
    max-width: 80%;
    margin-top: 25px;
  }

  @media (max-width: $br4) {
    max-width: 100%;
  }
}

.home-5__btn {
  margin-top: vw(40);

  @media (max-width: $br1) {
    margin-top: 25px;
  }
}
