.home-4__title {
  @include default;
  font-size: vw(100);
  line-height: 110%;

  @media (max-width: $br1) {
    font-size: size(100, 35);
  }

  @media (max-width: $br4) {
    font-size: 35px;
  }
}

.home-4__italic-title {
  @media (min-width: $br1) {
    @include italic;
  }
}

.home-4__card-list {
  display: flex;
  align-items: center;
  column-gap: vw(24);
  margin-top: vw(66);

  @media (max-width: $br1) {
    flex-wrap: wrap;
    margin-top: 42px;
    row-gap: 26px;
    column-gap: 26px;
  }
}

.home-4__floating-cards {
  img {
    display: block;
    max-width: 100%;

    @media (min-width: $br1) {
      height: vw(64);
    }

    @media (max-width: $br1) {
      height: 44px;
    }

    @media (max-width: $br4) {
      height: 36px;
    }
  }
}
