.home-8__text-block {
  @media (max-width: $br1) {
    display: inline;
  }
}

.home-8__title {
  @include col(1, 6);
  @include default;
  font-size: vw(150);

  @media (min-width: $br1) {
    position: relative;
    top: vw(20);
  }

  @media (max-width: $br1) {
    display: inline;
    font-size: size(150, 35);
  }

  @media (max-width: $br4) {
    font-size: 35px;
  }
}

.home-8__span-bottom {
  @media (min-width: $br1) {
    @include row(2, 2);
    @include italic;
  }
}

.home-8__btn {
  @media (min-width: $br1) {
    @include col(13, 15);
    align-self: end;
    justify-self: end;
    position: relative;
    right: 10px;
    top: 4px;
  }

  @media (max-width: $br1) {
    margin-top: 15px;
  }
}

.home-8__cards {
  margin-top: vw(42);

  @media (max-width: $br1) {
    margin-top: 40px;
  }
}
