.home-2__background,
.home-2 canvas {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: sticky;
  height: 100vh;
  height: var(--vh);
  width: 100%;
  top: 0;
  object-fit: cover;
  left: 0;
}

.home-2__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--bg);
}

.home-2__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  height: 100vh;

  @media (max-width: $br1) {
    max-width: 70%;
  }

  @media (max-width: $br4) {
    max-width: 100%;
  }
}

.home-2__title {
  @include default;
  color: var(--bg);
  font-size: vw(90);

  @media (max-width: $br1) {
    font-size: size(65, 30);
  }

  @media (max-width: $br4) {
    display: inline;
    font-size: 30px;
  }
}

.home-2__desc {
  @include default;
  color: var(--bg);
  font-size: vw(32);
  margin-top: vw(44);
  &--big {
    font-size: vw(58);
  }
  @media (max-width: $br1) {
    margin-top: 25px;
    font-size: 18px;
    &--big {
      font-size: 24px;
    }
  }
}
