.home-4__title {
  @include default;
  font-size: vw(100);
  line-height: 110%;

  @media (max-width: $br1) {
    font-size: size(100, 35);
  }

  @media (max-width: $br4) {
    font-size: 35px;
  }
}

.home-4__italic-title {
  @media (min-width: $br1) {
    @include italic;
  }
}

.home-4__card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: vw(24);
  margin-top: vw(66);

  @media (max-width: $br1) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 42px;
    gap: 26px;
  }

  @media (max-width: $br3) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.home-4__floating-cards {
  img {
    display: block;
    max-width: 100%;

    @media (min-width: $br1) {
      height: vw(64);
    }

    @media (max-width: $br1) {
      height: 44px;
    }

    @media (max-width: $br4) {
      height: 36px;
    }
  }

  &:nth-of-type(2) {
    img {
      @media (min-width: $br1) {
        height: vw(74);
      }

      @media (max-width: $br1) {
        height: 54px;
      }

      @media (max-width: $br4) {
        height: 46px;
      }
    }
  }
}
