.circle-button {
  @include default;
  @include italic;
  text-transform: none;
  display: block;
  width: fit-content;
  font-size: vw(20);
  background-color: transparent;
  border: 2px solid var(--main);
  border-radius: 50%;
  padding: vw(30) vw(58);
  position: relative;
  overflow: hidden;
  isolation: isolate;
  transition: border-color 0.7s $easing;

  &--white {
    border: 2px solid #fff;
    color: #fff;
    .circle-button__bg {
      background-color: #fff;
    }
    &:hover {
      .circle-button__content {
        color: var(--main) !important;
      }
    }
  }

  * {
    position: relative;
    z-index: 2;
  }

  @media (min-width: $br2) {
    &:hover {
      border-color: transparent;

      .circle-button__bg {
        transform: rotate(0deg) translateY(0%);
        border-radius: 0%;
      }

      .circle-button__content {
        color: #fff;
      }
    }
  }

  @media (min-width: $br1) {
    min-width: vw(215);
  }

  @media (max-width: $br1) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: size(20, 14);
    padding: 22px 44px;
    min-width: 162px;
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

.circle-button__content {
  transition: color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.circle-button__bg {
  display: block;
  position: absolute;
  z-index: 1;
  isolation: isolate;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: var(--main);
  transition: transform 0.7s $easing, border-radius 0.7s $easing;
  transform: rotate(15deg) translateY(115%);
}
