.image-list {
  margin-top: vw(90);

  @media (max-width: $br1) {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}

.image-list__li {
  margin-top: vw(20);
  &:nth-of-type(2) {
    .image-list__text {
      @media (min-width: $br1) {
        position: absolute;
        max-width: vw(458);
        right: vw(75);
        height: vw(346);
      }
    }
    .image-list__img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;

      @media (max-width: $br1) {
        width: 70%;
      }

      &:nth-of-type(1) {
        @media (min-width: $br1) {
          @include col(1, 4);
        }
      }

      &:nth-of-type(2) {
        @media (min-width: $br1) {
          @include col(5, 11);
          @include row(1, 2);
        }
      }

      &:nth-of-type(3) {
        @media (min-width: $br1) {
          @include col(12, 15);
          @include row(2, 2);
        }
      }

      &:nth-of-type(4) {
        @media (min-width: $br1) {
          @include col(5, 8);
          @include row(3, 3);
        }
      }
    }
  }
}

.image-list__text {
  @media (min-width: $br1) {
    position: absolute;
    max-width: vw(458);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: vw(380);
  }
}

.image-list__title {
  @include default;
  font-size: vw(40);

  @media (max-width: $br1) {
    font-size: size(40, 20);
  }

  @media (max-width: $br4) {
    font-size: 20px;
  }
}

.image-list__desc-wrapper {
  @include default;

  @media (max-width: $br1) {
    margin-top: 20px;
    max-width: 80%;
  }

  @media (max-width: $br4) {
    max-width: 100%;
  }
}

.image-list__number {
  position: relative;
  bottom: vw(-10);

  @media (max-width: $br1) {
    bottom: -8px;
  }
}

.image-list__desc {
  text-indent: vw(121);

  @media (max-width: $br1) {
    text-indent: 88px;
  }
}

.image-list__img-wrapper {
  row-gap: vw(20);

  @media (max-width: $br1) {
    display: flex;
    overflow: scroll;
    margin-top: 20px;
    width: 100vw;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.image-list__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  @media (max-width: $br1) {
    width: 70%;
    flex: 1 0 70%;
  }

  &:nth-of-type(1) {
    @media (min-width: $br1) {
      @include col(1, 4);
      @include row(2, 2);
    }
  }

  &:nth-of-type(2) {
    @media (min-width: $br1) {
      @include col(5, 11);
      @include row(1, 2);
      height: 100% !important;
    }
  }

  &:nth-of-type(3) {
    @media (min-width: $br1) {
      @include col(12, 15);
    }
  }

  &:nth-of-type(4) {
    @media (min-width: $br1) {
      @include col(8, 11);
      @include row(3, 3);
    }
  }
}
