.contacts__input {
  position: relative;
}

.input-wrapper {
  position: relative;

  &.js-focus {
    .input-placeholder {
      transform: translateY(-20px);
      font-size: 10px;
      opacity: 0.7;
    }
  }
}

.select {
  border: none;
}

.input {
  @include default;
  text-transform: none;
  width: 100%;
  background-color: transparent;
  padding-bottom: vw(7);
  border-bottom: 2px solid var(--main);
  font-size: 16px;
  border-radius: 0;

  @media (max-width: $br1) {
    padding-bottom: 7px;
    font-size: 16px;
  }

  &::selection {
    color: var(--white);
  }
}

.input-placeholder {
  @include default;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
  transform: translate(0px, -50%);
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
  gap: 8px;
  top: 30%;
  left: 0;

  abbr {
    text-decoration: none;
    color: var(--red);
  }
}

.input-btn {
  @include default;
  font-size: vw(20);
  position: absolute;
  background-color: transparent;
  right: 0;

  @media (max-width: $br1) {
    font-size: 20px;
  }
}

.input-error {
  @include default;
  color: var(--red);
  font-size: 12px;
  display: block;
  position: absolute;
  margin-top: 4px;
  text-transform: lowercase;
}

//Reset autofill styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main);
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.01) inset;
  transition: background-color 5000s ease-in-out 0s;
}
