.project-ticker {
  width: 100%;
  overflow: hidden;
  background-color: var(--white);
  padding-top: vw(42);
  padding-bottom: vw(42);
  @media (max-width: $br1) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .ticker__item {
    font-size: vw(30);
    margin-left: 1vw;
  }

  svg {
    width: 30px;
    height: 30px;
    margin-right: 1vw;
  }
}
