.ticker {
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0);
}

.ticker__items {
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: fit-content;
}

.ticker__item {
  @include default;
  display: flex;
  align-items: center;
  color: var(--main);
  font-size: vw(200);
  line-height: 93%;
  white-space: nowrap;
  margin-left: vw(75);

  svg {
    display: block;
    width: vw(98);
    height: vw(98);
    animation: flower 10s linear infinite;
    position: relative;
    @media (max-width: $br1) {
      width: 36px;
      height: 36px;
    }
  }

  @keyframes flower {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: $br1) {
    margin-left: 32px;
    font-size: 48px;
  }

  @media (max-width: $br4) {
    margin-left: 20px;
  }
}

.ticker__icon {
  display: block;
  width: vw(99);
  height: vw(99);

  @media (max-width: $br1) {
    width: 36px;
    height: 36px;
  }
}
