.home {
  height: 100vh;
  padding-top: vw(111);
  padding-bottom: vw(30);
  background-color: var(--bg);
}

.home__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__top-block {
  height: 75%;
  flex: 1 0 75%;
}

.home__elements-left {
  @include col(1, 7);
}

.home__big-img {
  display: block;
  width: 100%;
  // height: vh(664);
  height: 100%;
  object-fit: cover;
}

.home__big-img--2 {
  // height: vh(532);
  height: 82%;
}

.home__elements-right {
  @include col(8, 15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__small-buildings {
  grid-template-columns: repeat(8, 1fr);
  column-gap: vw(20);
}

.home__li {
  &:nth-of-type(1) {
    @include col(1, 1);
  }

  &:nth-of-type(2) {
    @include col(4, 4);
  }

  &:nth-of-type(3) {
    @include col(5, 5);
  }

  &:nth-of-type(4) {
    @include col(7, 7);
  }

  &:nth-of-type(5) {
    @include col(8, 8);
  }
}

.home__number {
  @include reg;
  text-transform: uppercase;
  font-size: vw(16);
  line-height: 100%;
  margin-bottom: vw(6);
}

.home__small-img {
  display: block;
  max-width: 100%;
  height: vh(62);
}

.home__bottom-block {
  margin-top: vw(65);
  flex: 0 1 auto;
  height: fit-content;
}

.home__desc {
  @include col(6, 8);
  @include reg;
  font-size: vw(16);
  text-transform: uppercase;
  line-height: 100%;
  color: var(--main);
  align-self: center;
}

.home__title {
  @include h1;

  &:nth-of-type(1) {
    @include col(1, 4);
  }

  &:nth-of-type(2) {
    @include col(9, 15);
    @include italic;
    text-align: end;
  }

  &:nth-of-type(3) {
    @include col(1, 4);
    @include row(2, 2);
    text-transform: none;
    @include italic;
  }

  &:nth-of-type(4) {
    @include col(6, 8);
    @include row(2, 2);
  }

  &:nth-of-type(5) {
    @include col(12, 15);
    @include row(2, 2);
    text-align: end;
    text-transform: none;
    @include italic;
  }
}
