.careers-2__bg {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.careers-2__wrapper {
  @media (max-width: $br1) {
    display: flex;
  }
}

.careers-2__title {
  @include default;
  @include col(8, 15);
  font-size: vw(60);
  line-height: 110%;
  margin-top: vw(20);

  @media (min-width: $br1) {
    text-align: end;
  }

  @media (max-width: $br1) {
    font-size: size(60, 25);
    margin-top: 20px;
  }

  @media (max-width: $br4) {
    font-size: 25px;
  }
}
