.bim-5 {
  position: relative;
  padding: 0 !important;
  margin-top: vw(300);
  overflow: hidden;
  height: 100vh;
  width: 100%;

  @media (max-width: $br1) {
    margin-top: 200px;
    &--pb {
      margin-bottom: 200px;
    }
  }
  @media (max-width: $br3) {
    margin-top: 120px;
    &--pb {
      margin-bottom: 120px;
    }
  }
}

.bim-5__bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bim-5__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.bim-5__title {
  @include default;
  font-size: vw(200);
  color: var(--bg);
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (max-width: $br1) {
    font-size: size(200, 36);
    display: inline;
  }

  @media (max-width: $br4) {
    font-size: 36px;
  }
}

.bim-5__span-title {
  &:nth-of-type(1) {
    @media (min-width: $br1) {
      @include italic;
      text-transform: lowercase;
    }
  }
}

.bim-5__desc {
  @include default;
  margin-top: vw(30);
  color: var(--bg);

  @media (max-width: $br1) {
    margin-top: 15px;
  }
}

.bim-5__btn {
  margin-top: vw(50);

  @media (max-width: $br1) {
    margin-top: 25px;
  }
}
